$Color-Black: #222626;
$Color-Gray: #A69D8D;
$Color-Red1:#F20530;
$Color-Red2:#F20530;
$Coor-Bege: #F28F79;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}