@import url(../../main.scss);

.IconDiv{
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 40px;

    a{
        color: white;
        background-color: rgb(0, 217, 0);
        padding: 15px 20px;
        border-radius: 50%;

        &:hover{
            background-color: rgb(2, 199, 2);
        }
    }
}