@import '../../main.scss';

.Sobre{
    background-color: black;
    color: white;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    display: flex;
    margin-top: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    @media (max-width : 680px){
        flex-direction: column;
    }

    .Sobre__Img{
        img{
            width: 100%;
            max-width: 600px;
        }

        @media (max-width : 680px){
            display: none;
        }
    }
    
    .Sobre__Text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width:100%;
        max-width: 600px;
        margin-bottom: 30px;

        h1{
            font-size: 40px;
        }

        .Sobre__Text__Subtitle{
            font-size: 20px;
            color: rgb(169, 169, 169);
        }

        strong{
            font-weight: bold;
        }
    }
}